button
  height: 2.75rem
  width: 13rem
  font-weight: 100
  outline: none
  border: none
  text-transform: uppercase
  color: #FFF
  font-size: .8em
  border-radius: 3px
  transition: all .1s ease-in-out
  background: rgba(255, 0, 0, 0.5)
  cursor: pointer

  &:hover
    box-shadow: 0px 1px 15px 0px rgba(40,55,70,0.2)

  &.lg
    height: 3.5rem
    width: 17.5rem
    font-size: 1em