button
  height: 2.75rem
  width: 13rem
  font-weight: 100
  outline: none
  border: none
  text-transform: uppercase
  color: #FFF
  font-size: .8em
  border-radius: 3px
  transition: all .2s ease-in-out .1s
  background: rgba(255, 0, 0, 0.5)
  cursor: pointer

  &:hover
    box-shadow: $shadow-md

  &.lg
    height: 3.5rem
    width: 17.5rem
    font-size: 1em