.card
  background: #FFF
  border-radius: 4px
  box-shadow: $shadow-sm

  &.expanded
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  .card-header
    padding-top: 15px
    height: 50px