.course-sections
    .two-halves
        display: grid
        grid-template-columns: 3fr 1fr

        +respond-to("size-xs")
            grid-template-columns: 1fr

    .fancy-list > ul
        list-style: none
        position: relative
        margin-left: 0

        &:before
            content: ''
            position: absolute
            width: 1px
            left: -15px
            top: 15px
            bottom: 0
            opacity: .2
            background: $gray-dark
            display: block

        li
            padding: 3em 0 0
            position: relative

            &:first-child
                padding-top: 0
                
                &:after
                    top: 6px
            
            &:after
                content: ''
                position: absolute
                left: -20px
                top: 54px
                border-radius: 50%
                width: 11px
                height: 11px
                background: $theme-dark
                display: block
    

    .course-summary
        display: grid
        grid-template-columns: 4fr 1fr

        +respond-to("size-xs")
            grid-template-columns: 1fr

    .more-details
        height: 0
        overflow: hidden

        .wrapper
            padding: 4em

            +respond-to("size-xs")
                padding: 2em
        
        +respond-to("size-xs")
            grid-template-columns: 1fr

            &.expanded
                &[data-card-height='small']
                    height: 50em !important
                
                &[data-card-height='large']
                    height: 115em !important
        

        &.expanded
            border-top-left-radius: 0
            border-top-right-radius: 0
            transition: height 0.6s ease-in-out

            &[data-card-height='small']
                height: 35em
            
            &[data-card-height='large']
                height: 70em
        

        &.collapsed
            height: 0
            transition: height 0.4s ease-in-out 0.1s
