.faq
    margin-top: 6em
    padding: 2em

    h1
        @include respond-to('size-xs')
            margin-top: 2em

    .more-questions
        overflow: hidden
        height: 0
        transition: height .3s ease-in-out

        &.expanded
            height: 50em
