.header
  background: #FFF
  padding: 1.75rem 0
  text-align: center
  z-index: 1024
  border-bottom: 1px solid $gray-light
  position: sticky
  top: 0

  @include respond-to('size-xs')
    padding: 1rem 0 1rem

  h3
    font-size: 1.2em!important
    transition: all .4s ease-in-out
    -webkit-transition: all .4s ease-in-out
    -moz-transition: all .4s ease-in-out
    transform: scale(0.8)
    margin: 0

  &.sticky
    h3
      transform: scale(1)

  img
    position: relative
    top: 6px
    padding: 0 6px
    width: 25px
    height: auto

  h3
    font-weight: 200
    font-size: 1.5rem