.hero-wrapper
    margin-top: 3rem
    min-height: 32rem
    border: 1px solid $gray
    border-radius: 5px
    background: linear-gradient(33deg, $theme-light, $theme-dark), url("./assets/images/tfwc2.jpeg") no-repeat center center
    background-size: cover
    text-align: center
    display: grid
    box-shadow: $shadow-sm

    @include respond-to('size-xs')
        margin: 0
        border: none
        border-radius: 0

    @include respond-to('size-lg')
        min-height: 40rem

    *
        color: #FFF

    .hero-content
        margin: auto
        padding: 0 10rem

        @include respond-to('size-xs')
            padding: 2rem 3rem

        h1
            margin-top: 2.3rem
            margin-bottom: 2.3rem
