.organizer-container
    margin-top: 6em
    width: 100%
    display: grid
    text-align: center
    justify-content: center


.organizer-card
    margin-top: 6em
    width: 400px
    padding: 0 3em
    box-shadow: $shadow-sm
    border-top: 5px solid $theme-light
    border-top-right-radius: 5px
    border-top-left-radius: 5px

    .profile-holder
        padding: 4em 0

    .image-holder
        position: relative

        img
            position: absolute
            right: -100px
            top: -50px
            height: 100px
            width: 100px
            object-fit: contain
            border-radius: 50%

    p
        line-height: 1.8em!important