// theme colors
$gray: #eee
$gray-darker: #7d97ad
$theme-light: rgba(255, 0, 0, 0.45)
$theme-dark: rgba(255, 0, 128, 0.32)
    
// Breakpoints
$size-xs        : 380px
$size-sm        : 576px
$size-md        : 768px
$size-lg        : 1600px
$size-xl        : 1200px
$size-retina    : 1600px