// theme colors
$gray: #eee
$gray-dark: #525c65
$gray-darker: #7d97ad
$gray-light: #dbe2e8
$theme-light: rgba(255, 0, 0, 0.45)
$theme-dark: rgba(255, 0, 128, 0.32)
$pink-deep: #FC939B
    
// Breakpoints
$size-xs        : 380px
$size-sm        : 576px
$size-md        : 768px
$size-lg        : 1600px
$size-xl        : 1200px
$size-retina    : 1600px

$shadow-sm      : 0px 1px 15px 0px rgba(40, 55, 70, 0.2)
$shadow-md      : 0px 5px 20px 3px rgba(40, 55, 70, 0.2)