body {
  font-family: 'Lato', system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-weight: 300; }

p, h1, h2, h3, h4, h5, h6 {
  color: #525c65;
  margin-bottom: 1em; }

h1 {
  font-size: 2.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200; }

ul.custom-sytle {
  margin-left: 2em;
  list-style: none; }
  ul.custom-sytle li {
    background: url("assets/images/list-item.png") no-repeat 0 0;
    padding-left: 30px;
    color: #525c65;
    margin-bottom: 1em; }

.section {
  margin: 0 5rem; }
  @media (max-width: 576px) {
    .section {
      margin: 0 2rem; } }
  @media (min-width: 1600px) {
    .section {
      margin: 0 15rem; } }

.hero-wrapper {
  margin-top: 3rem;
  min-height: 32rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background: linear-gradient(33deg, #AA99E9, #512DE8), url("./assets/images/tfwc2.jpeg") no-repeat center center;
  background-size: cover;
  text-align: center;
  display: grid;
  box-shadow: 1px 3px 15px 0px rgba(40, 55, 70, 0.2); }
  @media (max-width: 576px) {
    .hero-wrapper {
      margin: 2rem 0; } }
  @media (min-width: 1600px) {
    .hero-wrapper {
      min-height: 40rem; } }
  .hero-wrapper * {
    color: #FFF; }
  .hero-wrapper .hero-content {
    margin: auto;
    padding: 0 10rem; }
    @media (max-width: 576px) {
      .hero-wrapper .hero-content {
        padding: 2rem 3rem; } }
    .hero-wrapper .hero-content h1 {
      margin-top: 2.3rem;
      margin-bottom: 2.3rem; }
      @media (max-width: 576px) {
        .hero-wrapper .hero-content h1 {
          line-height: 2.5rem; } }

.header {
  background: #FFF;
  padding: 1.75rem 0;
  text-align: center;
  z-index: 1024;
  border-bottom: 1px solid #dbe2e8;
  position: sticky;
  top: 0; }
  @media (max-width: 576px) {
    .header {
      padding: 1rem 0 1rem; } }
  .header h3 {
    font-size: 1.2em !important;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transform: scale(0.8);
    margin: 0; }
  .header.sticky h3 {
    transform: scale(1); }
  .header img {
    position: relative;
    top: 6px;
    padding: 0 6px;
    width: 25px;
    height: auto; }
  .header h3 {
    font-weight: 200;
    font-size: 1.5rem; }

.meta-container {
  margin: 5em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 1px 3px 15px 0px rgba(40, 55, 70, 0.2); }
  @media (max-width: 576px) {
    .meta-container {
      grid-template-columns: 1fr; } }
  .meta-container--content {
    text-align: center;
    text-align: center;
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em; }
    @media (max-width: 576px) {
      .meta-container--content {
        padding: 0; } }
    @media (max-width: 576px) {
      .meta-container--content .empty-cell {
        display: none; } }
    .meta-container--content:not(:first-child) {
      border-left: 1px solid #dbe2e8; }
    .meta-container--content h5 {
      font-weight: 400;
      text-transform: uppercase; }
    .meta-container--content h3 {
      color: #424548;
      font-weight: 400; }
    .meta-container--content p {
      font-size: 0.85em; }

.course-steps-wrapper {
  margin-left: 75px;
  margin-right: 75px;
  display: grid; }
  @media (max-width: 576px) {
    .course-steps-wrapper {
      margin-left: 0;
      margin-right: 0;
      padding: 0 1.2em;
      grid-template-columns: 1fr; } }
  .course-steps-wrapper .left-half-container {
    padding: 2em 4em; }
    @media (max-width: 576px) {
      .course-steps-wrapper .left-half-container {
        padding: 3em 2em; } }
    .course-steps-wrapper .left-half-container .card-cta {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eee;
      padding-top: 1em;
      margin-top: 2em; }
  .course-steps-wrapper ol {
    counter-reset: course-steps; }
    .course-steps-wrapper ol > li {
      list-style-type: none;
      padding: 3.5em 0; }
      @media (max-width: 576px) {
        .course-steps-wrapper ol > li {
          padding: 1.5em 0; } }
      .course-steps-wrapper ol > li p {
        padding-top: 1em;
        line-height: 2rem; }
      .course-steps-wrapper ol > li .checkbox {
        margin-bottom: 30px; }
    .course-steps-wrapper ol > li::before {
      font-weight: 200;
      font-size: 2.5rem;
      margin-bottom: 2em;
      counter-increment: course-steps;
      content: "Step " counter(course-steps); }
  .course-steps-wrapper .radio-label {
    position: relative; }
    .course-steps-wrapper .radio-label input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1; }
      .course-steps-wrapper .radio-label input[type="radio"]:checked ~ .fancy-radio {
        background: #FAB65B; }
    .course-steps-wrapper .radio-label .fancy-radio {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin-right: 15px; }
      .course-steps-wrapper .radio-label .fancy-radio:after {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #FAB65B;
        position: absolute;
        right: -3px;
        bottom: -3px; }

.course-pricing {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center; }
  .course-pricing h3, .course-pricing h1 {
    margin: 0; }
  .course-pricing-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem; }
    @media (max-width: 576px) {
      .course-pricing-wrapper {
        grid-template-columns: 1fr; } }
  .course-pricing .pricing-card {
    width: 21em;
    min-height: 25em;
    margin: auto;
    border-radius: 3px;
    box-shadow: 1px 3px 15px 0px rgba(40, 55, 70, 0.2);
    transition: box-shadow .2s ease-in-out .1s; }
    .course-pricing .pricing-card:hover {
      box-shadow: 1px 5px 20px 3px rgba(40, 55, 70, 0.2); }
    @media (max-width: 576px) {
      .course-pricing .pricing-card {
        margin-bottom: 1.5em; } }
    .course-pricing .pricing-card--body {
      padding: 2em; }
      .course-pricing .pricing-card--body h3 {
        font-weight: 400;
        color: #666; }
      .course-pricing .pricing-card--body h1 {
        padding: 0.75em 0 0.75em; }
      .course-pricing .pricing-card--body .horizontal-rule {
        height: 2px;
        background: #8C72E6;
        margin: 1em 0.75em; }
    .course-pricing .pricing-card--header {
      height: 75px;
      display: flex;
      justify-content: space-between; }
    .course-pricing .pricing-card--corner-triangle {
      overflow: hidden; }
      .course-pricing .pricing-card--corner-triangle:after {
        position: relative;
        display: block;
        content: "";
        background: linear-gradient(33deg, #AA99E9, #512DE8);
        width: 200px;
        height: 30px;
        transform: rotate(45deg);
        top: 5px;
        left: 50px; }
    .course-pricing .pricing-card--banner {
      margin-top: 15px;
      overflow: hidden; }

.course-sections .two-halves {
  display: grid;
  grid-template-columns: 3fr 1fr; }
  @media (max-width: 576px) {
    .course-sections .two-halves {
      grid-template-columns: 1fr; } }

.course-sections .fancy-list > ul {
  list-style: none;
  position: relative;
  margin-left: 0; }
  .course-sections .fancy-list > ul:before {
    content: '';
    position: absolute;
    width: 1px;
    left: -15px;
    top: 15px;
    bottom: 0;
    opacity: .2;
    background: #525c65;
    display: block; }
  .course-sections .fancy-list > ul li {
    padding: 3em 0 0;
    position: relative; }
    .course-sections .fancy-list > ul li:first-child {
      padding-top: 0; }
      .course-sections .fancy-list > ul li:first-child:after {
        top: 6px; }
    .course-sections .fancy-list > ul li:after {
      content: '';
      position: absolute;
      left: -20px;
      top: 54px;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      background: #FAB65B;
      display: block; }

.course-sections .course-summary {
  display: grid;
  grid-template-columns: 4fr 1fr; }

.course-sections .more-details {
  height: 0;
  overflow: hidden; }
  .course-sections .more-details .wrapper {
    padding: 4em; }
    @media (max-width: 576px) {
      .course-sections .more-details .wrapper {
        padding: 2em; } }
  .course-sections .more-details.expanded {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: height 0.6s ease-in-out; }
    .course-sections .more-details.expanded[data-card-height='small'] {
      height: 30em; }
    .course-sections .more-details.expanded[data-card-height='large'] {
      height: 60em; }
  .course-sections .more-details.collapsed {
    height: 0;
    transition: height 0.4s ease-in-out 0.1s; }

.faq {
  margin-top: 6em;
  padding: 2em; }
  @media (max-width: 576px) {
    .faq h1 {
      margin-top: 2em; } }
  .faq .more-questions {
    overflow: hidden;
    height: 0;
    transition: height .3s ease-in-out; }
    .faq .more-questions.expanded {
      height: 50em; }

.features-container {
  margin-top: 7em;
  padding: 7em;
  background: #f5f5f5; }
  .features-container .feature-row {
    display: grid;
    grid-template-columns: 2fr 3fr; }
    .features-container .feature-row:not(:first-child) {
      margin-top: 7rem; }
    .features-container .feature-row > div {
      margin: auto; }

.layered-cards {
  width: 400px;
  height: 270px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(20, 1fr); }
  .layered-cards .background {
    box-shadow: 1px 5px 20px 3px rgba(40, 55, 70, 0.2);
    background: linear-gradient(33deg, #AA99E9, #512DE8);
    grid-column: 1/15;
    grid-row: 1/19; }
  .layered-cards .foreground {
    box-shadow: 1px 5px 20px 3px rgba(40, 55, 70, 0.2);
    grid-column: 2/16;
    grid-row: 3/22;
    overflow: hidden;
    object-fit: cover; }
    .layered-cards .foreground img {
      width: 100%;
      object-fit: cover; }

.banner {
  height: 2.1rem;
  width: 11rem;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .banner .banner--content-area {
    padding: 2px 55px 2px 0;
    text-align: right;
    z-index: 1;
    background: linear-gradient(33deg, #AA99E9, #512DE8); }
  .banner * {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .87em;
    margin-bottom: 0;
    padding-top: 1px !important; }
  .banner .banner-triangle {
    position: absolute;
    background: white;
    display: block;
    z-index: 0;
    top: -10px;
    right: 2px;
    transform: rotate(35deg);
    height: 80px;
    width: 40px; }

button {
  height: 2.75rem;
  width: 13rem;
  font-weight: 100;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: .8em;
  border-radius: 3px;
  transition: box-shadow .2s ease-in-out .1s;
  background: #FAB65B;
  cursor: pointer; }
  button:hover {
    font-weight: 400; }
  button.lg {
    height: 3.5rem;
    width: 17.5rem;
    font-size: 1em; }
  button.btn-light {
    background: #AA99E9; }
  button.btn-dark {
    background: #512DE8; }
  button.white-border:hover {
    border: 1px solid white; }
  button.orange {
    color: white;
    font-weight: 500;
    background: #FAB65B;
    transition: all .2s ease-in-out; }
    button.orange:hover {
      border: 1px solid #FAB65B;
      background: white;
      color: #FAB65B; }

.card {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 1px 3px 15px 0px rgba(40, 55, 70, 0.2); }
  .card.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .card .card-header {
    padding-top: 15px;
    height: 50px; }

.organizer-container {
  margin-top: 6em;
  width: 100%;
  display: grid;
  text-align: center;
  justify-content: center; }

.organizer-card {
  margin-top: 3em;
  width: 400px;
  padding: 0 3em;
  box-shadow: 1px 3px 15px 0px rgba(40, 55, 70, 0.2);
  border-top: 5px solid #512DE8;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }
  .organizer-card .profile-holder {
    padding: 4em 0; }
  .organizer-card .image-holder {
    width: 100%;
    position: relative; }
    .organizer-card .image-holder img {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50%;
      transform: translate3d(-50%, -50%, 0); }
  .organizer-card p {
    line-height: 1.8em !important; }

.reviews-container {
  margin-top: 6em;
  padding: 6em; }

.review-cards-holder {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px; }
  .review-cards-holder .review-summary {
    text-align: center;
    display: grid;
    align-items: center; }

.review-card {
  padding: 2em;
  background: white;
  box-shadow: 1px 3px 15px 0px rgba(40, 55, 70, 0.2); }

.fa-star {
  font-size: 12px;
  color: #b5b5b5;
  padding-right: 2px; }
  .fa-star.checked {
    color: gold; }
  .fa-star.large {
    font-size: 22px;
    padding-right: 5px; }

.extra-large {
  font-size: 70px;
  margin-bottom: .5em; }

.mtl {
  margin-top: 4em; }

.mn {
  margin: 0; }

.mbs {
  margin-bottom: 1em; }

.mbxs {
  margin-bottom: .25em; }

.mbl {
  margin-bottom: 4em; }

.mtm {
  margin-top: 2em; }

.mlm {
  margin-left: 2em; }

.mll {
  margin-left: 4em; }

.mbm {
  margin-bottom: 2em; }

.vml {
  margin-top: 5em;
  margin-bottom: 5em; }

.vmm {
  margin-top: 2em;
  margin-bottom: 2em; }

.vms {
  margin-top: 1em;
  margin-bottom: 1em; }

.bold-3 {
  font-weight: 300; }

.bold-4 {
  font-weight: 400; }

.bold-5 {
  font-weight: 500; }

.text-center {
  width: 100%;
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.cta {
  cursor: pointer;
  font-weight: 500;
  color: #512DE8;
  font-size: .8em; }

.bold-1 {
  font-weight: 100; }

.bold-2 {
  font-weight: 200; }

.bold-3 {
  font-weight: 300; }

.bold-4 {
  font-weight: 400; }

.bold-5 {
  font-weight: 500; }

.bold-6 {
  font-weight: 600; }

.gray-bg {
  background: #F5F5F5; }

.fully-centered {
  display: grid;
  justify-content: center;
  align-content: center; }

.hightlight {
  font-weight: 400;
  color: #512DE8; }
  .hightlight.orange {
    color: #FAB65B; }

.footer {
  padding: 4em;
  border-top: 1px solid #eee; }
