body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 1.5rem; }

p, h1, h2, h3, h4, h5, h6 {
  color: #525c65;
  margin-bottom: 1em; }

h1 {
  font-size: 2.5rem; }

.container {
  margin: 0 5rem; }
  @media (max-width: 576px) {
    .container {
      margin: 0 2rem; } }
  @media (min-width: 1600px) {
    .container {
      margin: 0 15rem; } }

.hero-wrapper {
  margin-top: 3rem;
  min-height: 32rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background: linear-gradient(33deg, rgba(255, 0, 0, 0.45), rgba(255, 0, 128, 0.32)), url("./assets/images/tfwc2.jpeg") no-repeat center center;
  background-size: cover;
  text-align: center;
  display: grid;
  box-shadow: 0px 1px 15px 0px rgba(40, 55, 70, 0.2); }
  @media (max-width: 576px) {
    .hero-wrapper {
      margin: 2rem 0; } }
  @media (min-width: 1600px) {
    .hero-wrapper {
      min-height: 40rem; } }
  .hero-wrapper * {
    color: #FFF; }
  .hero-wrapper .hero-content {
    margin: auto;
    padding: 0 10rem; }
    @media (max-width: 576px) {
      .hero-wrapper .hero-content {
        padding: 2rem 3rem; } }
    .hero-wrapper .hero-content h1 {
      margin-top: 2.3rem;
      margin-bottom: 2.3rem; }
      @media (max-width: 576px) {
        .hero-wrapper .hero-content h1 {
          line-height: 2.5rem; } }

.header {
  background: #FFF;
  padding: 1.5rem 0;
  text-align: center;
  z-index: 1024;
  border-bottom: 1px solid #dbe2e8; }
  @media (max-width: 576px) {
    .header {
      padding: 1rem 0 1rem; } }
  .header h3 {
    font-size: 1.2em !important;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transform: scale(0.8); }
  .header.sticky {
    position: fixed;
    top: 0;
    width: 100%; }
    .header.sticky h3 {
      transform: scale(1); }
  .header.sticky + .container {
    padding-top: 102px; }
  .header img {
    position: relative;
    top: 6px;
    padding: 0 6px;
    width: 25px;
    height: auto; }
  .header h3 {
    font-weight: 200;
    font-size: 1.5rem; }

.meta-container {
  margin: 5em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0px 1px 15px 0px rgba(40, 55, 70, 0.2); }
  @media (max-width: 576px) {
    .meta-container {
      grid-template-columns: 1fr; } }
  .meta-container--content {
    text-align: center;
    text-align: center;
    padding: 1.5em 0;
    margin-top: 1em;
    margin-bottom: 1em; }
    @media (max-width: 576px) {
      .meta-container--content {
        padding: 0; } }
    @media (max-width: 576px) {
      .meta-container--content .empty-cell {
        display: none; } }
    .meta-container--content:not(:first-child) {
      border-left: 1px solid #dbe2e8; }
    .meta-container--content h5 {
      font-weight: 400;
      text-transform: uppercase; }
    .meta-container--content h3 {
      color: #424548;
      font-weight: 400; }
    .meta-container--content p {
      font-size: 0.85em; }

.course-steps-wrapper {
  margin-left: 75px;
  display: grid;
  grid-template-columns: 55%; }
  @media (max-width: 576px) {
    .course-steps-wrapper {
      margin-left: 0;
      padding: 0 1.2em;
      grid-template-columns: 1fr; } }
  .course-steps-wrapper ol {
    counter-reset: course-steps; }
    .course-steps-wrapper ol li {
      list-style-type: none;
      padding: 3.5em 0; }
      @media (max-width: 576px) {
        .course-steps-wrapper ol li {
          padding: 1.5em 0; } }
      .course-steps-wrapper ol li p {
        padding-top: 1em;
        line-height: 2rem; }
      .course-steps-wrapper ol li .checkbox {
        margin-bottom: 30px; }
    .course-steps-wrapper ol li::before {
      font-weight: 200;
      font-size: 2.5rem;
      margin-bottom: 2em;
      counter-increment: course-steps;
      content: "Step " counter(course-steps); }
  .course-steps-wrapper .radio-label {
    position: relative; }
    .course-steps-wrapper .radio-label input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1; }
      .course-steps-wrapper .radio-label input[type="radio"]:checked ~ .fancy-radio {
        background: #FC939B; }
    .course-steps-wrapper .radio-label .fancy-radio {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin-right: 15px; }
      .course-steps-wrapper .radio-label .fancy-radio:after {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #FC939B;
        position: absolute;
        right: -3px;
        bottom: -3px; }

.course-pricing {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center; }
  .course-pricing h3, .course-pricing h1 {
    margin: 0; }
  .course-pricing-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem; }
    @media (max-width: 576px) {
      .course-pricing-wrapper {
        grid-template-columns: 1fr; } }
  .course-pricing .pricing-card {
    width: 21em;
    height: 25em;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 1px 15px 0px rgba(40, 55, 70, 0.2); }
    @media (max-width: 576px) {
      .course-pricing .pricing-card {
        margin-bottom: 1.5em; } }
    .course-pricing .pricing-card--body {
      padding: 2em; }
      .course-pricing .pricing-card--body h3 {
        font-weight: 400;
        color: #666; }
      .course-pricing .pricing-card--body h1 {
        padding: 0.75em 0 0.75em; }
      .course-pricing .pricing-card--body .horizontal-rule {
        height: 2px;
        background: #ff98a4;
        margin: 1em 0.75em; }
    .course-pricing .pricing-card--header {
      height: 75px;
      display: flex;
      justify-content: space-between; }
    .course-pricing .pricing-card--corner-triangle {
      overflow: hidden; }
      .course-pricing .pricing-card--corner-triangle:after {
        position: relative;
        display: block;
        content: "";
        background: linear-gradient(33deg, rgba(255, 0, 0, 0.45), rgba(255, 0, 128, 0.32));
        width: 200px;
        height: 30px;
        transform: rotate(45deg);
        top: 5px;
        left: 50px; }
    .course-pricing .pricing-card--banner {
      margin-top: 15px;
      overflow: hidden; }

.course-sections .two-halves {
  display: grid;
  grid-template-columns: 2fr 1fr; }
  @media (max-width: 576px) {
    .course-sections .two-halves {
      grid-template-columns: 1fr; } }

.course-sections .left-half-container {
  padding: 2em 4em; }
  @media (max-width: 576px) {
    .course-sections .left-half-container {
      padding: 3em 2em; } }
  .course-sections .left-half-container .card-cta {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding-top: 1em;
    margin-top: 2em; }

.course-sections ul {
  padding-top: 3em;
  list-style: none;
  position: relative; }
  .course-sections ul:before {
    content: '';
    position: absolute;
    width: 1px;
    left: -15px;
    top: 60px;
    bottom: 0;
    opacity: .2;
    background: #525c65;
    display: block; }
  .course-sections ul li {
    padding: 3em 0 0;
    position: relative; }
    .course-sections ul li:first-child {
      padding-top: 0; }
      .course-sections ul li:first-child:after {
        top: 6px; }
    .course-sections ul li:after {
      content: '';
      position: absolute;
      left: -20px;
      top: 54px;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      background: #FC939B;
      display: block; }

.course-sections .course-summary {
  display: grid;
  grid-template-columns: 4fr 1fr; }

.course-sections .more-details {
  height: 0;
  overflow: hidden; }
  .course-sections .more-details .wrapper {
    padding: 4em; }
    @media (max-width: 576px) {
      .course-sections .more-details .wrapper {
        padding: 2em; } }
  .course-sections .more-details.expanded {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 20em;
    height: auto;
    transition: height 0.6s ease-in-out, opacity 0.4s ease-in-out 0.2s; }
  .course-sections .more-details.collapsed {
    height: 0;
    transition: height 0.4s ease-in-out 0.1s, opacity 0.1s ease-in-out 0.3s; }

.faq {
  padding: 2em; }
  @media (max-width: 576px) {
    .faq h1 {
      margin-top: 2em; } }

.banner {
  height: 2.1rem;
  width: 11rem;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .banner .banner--content-area {
    padding: 2px 55px 2px 0;
    text-align: right;
    z-index: 1;
    background: linear-gradient(33deg, rgba(255, 0, 0, 0.45), rgba(255, 0, 128, 0.32)); }
  .banner * {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .87em;
    margin-bottom: 0; }
  .banner .banner-triangle {
    position: absolute;
    background: white;
    display: block;
    z-index: 0;
    top: -10px;
    right: 2px;
    transform: rotate(35deg);
    height: 80px;
    width: 40px; }

.mtl {
  margin-top: 4em; }

.mbl {
  margin-bottom: 4em; }

.mtm {
  margin-top: 2em; }

.mbm {
  margin-bottom: 2em; }

.vml {
  margin-top: 5em;
  margin-bottom: 5em; }

.vmm {
  margin-top: 2em;
  margin-bottom: 2em; }

.vms {
  margin-top: 1em;
  margin-bottom: 1em; }

.bold-3 {
  font-weight: 300; }

.bold-4 {
  font-weight: 400; }

.bold-5 {
  font-weight: 500; }

.text-center {
  width: 100%;
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.footer {
  padding: 4em;
  border-top: 1px solid #eee; }

button {
  height: 2.75rem;
  width: 13rem;
  font-weight: 100;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: .8em;
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.45); }
  button.lg {
    height: 3.5rem;
    width: 17.5rem;
    font-size: 1em; }

.card {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0px 1px 15px 0px rgba(40, 55, 70, 0.2); }
  .card.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .card .card-header {
    padding-top: 15px;
    height: 50px; }
