* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 1.5rem; }

.uppercase {
  text-transform: uppercase; }

h1 {
  font-size: 2.5rem; }

button {
  height: 2.75rem;
  width: 13rem;
  font-weight: 100;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: .8em;
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.45); }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.container {
  margin: 0 5rem; }

.header {
  padding: 3rem 0 1rem;
  text-align: center; }
  .header img {
    position: relative;
    top: 5px;
    width: 25px;
    height: auto; }
  .header h3 {
    font-weight: 200;
    font-size: 1.5rem; }

.hero-wrapper {
  margin-top: 3rem;
  min-height: 30rem;
  border: 1px solid #EEE;
  border-radius: 5px;
  background: linear-gradient(33deg, rgba(255, 0, 0, 0.45), rgba(255, 0, 128, 0.32)), url("./assets/images/tfwc2.jpeg") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;
  display: grid; }
  .hero-wrapper .hero-content {
    margin: auto;
    padding: 0 10rem; }
    .hero-wrapper .hero-content h5 {
      margin-bottom: 0.85rem; }
    .hero-wrapper .hero-content h1 {
      margin-bottom: 1.6rem; }

.meta-container {
  margin: 5em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .meta-container--content {
    text-align: center;
    margin-bottom: 5em; }
    .meta-container--content:not(:first-child) {
      border-left: 1px solid #dbe2e8; }
    .meta-container--content h5 {
      color: #7d97ad;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 1em; }
    .meta-container--content h3 {
      color: #424548;
      font-weight: 400; }
    .meta-container--content p {
      font-size: .85em;
      color: #7d97ad; }
